@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model GrowthDiary.ViewModels.PostInputModel

<form asp-controller="Posts" asp-action="Create" id="form-create-post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group" id="div-tag">
        <input type="text" name="input-tag" id="input-tag" class="form-control" />
        <button class="btn btn-info" id="btn-add-tag">Add Tag</button>
    </div>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <a class="btn btn-warning" id="btn-upload-image">@Localizer["Upload Image"]</a>
            <input type="file" multiple accept="images/*" hidden id="files" name="files" />
        </div>
        <div class="col-auto">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    <div id="div-images" class="d-flex flex-wrap justify-content-start">

    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/post.js"></script>
}
