@model IEnumerable<GrowthDiary.Models.Post>
@using System.Web.Mvc

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form id="formPostsSearch">
    <input type="text" class="csstxt" id="searchTxt" placeholder="Search Content"/>
    <input type="text" class="csstxt" id="tagsTxt" placeholder="Search Tags"/>
    <input type="submit" class="csssubmit"/>
</form>

@*
<section class="mb-2">
    <partial name="_CreatePostPartial" model=Model />
</section>*@

<form id="formSearchBy" class="button">
    <button type="button" class="orderBtn cssbtn" order="time" desc="true"　id="btn1">Newest</button>
    <button type="button" class="orderBtn cssbtn" order="time" desc="false" id="btn2">Oldest</button>
    <button type="button" class="orderBtn cssbtn" order="like" desc="true" id="btn3">Most Liked</button>
    <button type="button" class="orderBtn cssbtn" order="like" desc="false" id="btn4">Least Liked</button>
    <button type="button" class="orderBtn cssbtn" order="comment" desc="true" id="btn5">Most Commented</button>
    <button type="button" class="orderBtn cssbtn" order="comment" desc="false" id="btn6">Least Commented</button>
</form>

<div id="postTable">
    <div class="loader" id="loadingDiv"></div>
</div>

@section Scripts{
    <script src="~/js/index.js"></script>
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/post.js"></script>*@
}
