@model IEnumerable<GrowthDiary.Models.Post>
@using System.Web.Mvc

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form id="formPostsSearch">
    <input type="text" id="searchTxt" />
    <input type="submit" />
</form>

<form id="formSearchBy">
    <p>Order by:</p>
    <button type="button" class="orderBtn" order="time" desc="true">Newest</button>
    <button type="button" class="orderBtn" order="time" desc="false">Oldest</button>
    <button type="button" class="orderBtn" order="like" desc="true">Most Liked</button>
    <button type="button" class="orderBtn" order="like" desc="false">Least Liked</button>
    <button type="button" class="orderBtn" order="comment" desc="true">Most Commented</button>
    <button type="button" class="orderBtn" order="comment" desc="false">Least Commented</button>
</form>

<div id="postTable">
    <div class="loader" id="loadingDiv"></div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var $loading = $('#loadingDiv').hide();
            $(document)
                .ajaxStart(function () {
                    $loading.show();
                })
                .ajaxStop(function () {
                    $loading.hide();
                });

            $("#formPostsSearch").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    url: "@(Url.Action("GetPostsData"))",
                    data: { search: $("#searchTxt").val() },
                    type: "GET",
                    success: function (data) {
                        $("#postTable").html(data);
                        //alert(data);
                    },
                    error: failedSearch
                });

                function failedSearch() {
                    $("#postTable").html = "<p>Oops</p>";
                    ///alert();
                }

            });

            $("#formPostsSearch").submit();

            var btns = document.getElementsByClassName("orderBtn");

            Array.from(btns).forEach(function (btn) {
                btn.addEventListener("click", function () {
                    document.cookie = "order=" + btn.getAttribute("order");
                    document.cookie = "descending=" + btn.getAttribute("desc");
                    $("#formPostsSearch").submit();
                });
            });

            /*
            for (var i = 0; i < btns.length; ++i) {
                alert(i);
                btns[i].addEventListener('click', function () {
                    orderFunc(btn.val(), btn.attr('desc'), false);
                });
            }
            */
            

            function orderFunc(order, desc) {
                document.cookie = "order=" + order;
                document.cookie = "descending=" + desc;
                $("#formPostsSearch").submit();
            }
        });
    </script>
} 